@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    outline: none;
}

html {
    font-family: 'Open sans', sans-serif;
    color: #373A3C;
    scroll-behavior: smooth;
}

a {
    transition: 0.5s;
}

/* sidebar */

#sidebar {
    position: fixed;
    height: 100%;
    width: 300px;
    background-color: #006599;
    padding-top: 40px;
}

#sidebar h1 {
    color: #fff;
    font-size: 32px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

#sidebar a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

#sidebar a:hover {
    color: #f4EF5E;
}

#sidebar li {
    padding: 20px;
}

.sidebar-container {
    margin: 0 auto;
    width: 200px;
}

.logo-doceria {
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto;
}

/* Content */

#content {
    position: absolute;
    left: 300px;
    width: calc(100% - 300px);
}

#content h1,
#content h2 {
    color: #006599;
    margin-bottom: 30px;
}

#content h1 {
    font-size: 48px;
}

#content h2 {
    font-size: 35px;
}

#content section {
    padding-left: 50px;
}

/* Sessão Bem Vind */

#content #sessao-bem-vindo {
    padding-left: 0px;
}

.sessao-bem-vindo-content {
    padding-left: 50px;
}

#sessao-bem-vindo .banner {
    background-image: url(../img/banner2.jpg);
    height: 500px;
    background-position: center;
    background-size: cover;
}

#sessao-bem-vindo h1 {
    margin-top: 70px;
}

#sessao-bem-vindo::after,
#sessao-sobre::after {
    content: "";
    display: block;
    clear: both;
    margin-bottom: 100px;
}

.sessao-minibanner {
    width: 300px;
    height: 500px;
    background-size: cover;
    background-position: center;
}

#sessao-bem-vindo .sessao-minibanner {
    background-image: url(../img/banner3.jpg);
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
}

#sessao-bem-vindo .sessao-descricao {
    padding-right: 30px;
}

.sessao-descricao p {
    line-height: 2;
    font-size: 16px;
    margin-bottom: 30px;
}

.sessao-bem-vindo-btn,
form input[type="submit"] {
    background-color: #006599;
    color: #FFF;
    text-decoration: none;
    padding: 20px 40px;
    transition: 0.5s;

    width: 100px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.sessao-bem-vindo-btn:hover,
form input[type="submit"]:hover {
    background-color: #2790C6;
}

/* seccao sobre */

#sessao-sobre {
    padding-right: 30px;
}

#sessao-sobre .sessao-minibanner {
    background-image: url(../img/banner4.jpg);
    float: right;
    margin-left: 30px;
}

/* galleries */ 

.banner-galery {
    display: inline-block;
}

#sessao-doces1 banner-gallery {
    height: 220px;
}

#sessao-doces1, 
#sessao-doces2,
#sessao-doces3 {
    padding-right: 30px;
    margin-bottom: 50px;
}

.doces1-imgs {
    width: 18.8%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.doces1-imgs img {
    width: 100%;
    height: 100%;
}

.gallery1-container div:first-child,
.gallery2-container div:first-child,
.gallery3-container div:first-child {
    margin-left: 0;
}

.gallery1-container div:last-child,
.gallery2-container div:last-child,
.gallery3-container div:last-child {
    margin-right: 0;
}

#sessao-doces1 banner-gallery {
    height: 300px;
}

.doces2-imgs {
    width: 32.0%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.doces2-imgs img {
    width: 100%;
    height: 300px;
}

.doces3-imgs {
    width: 23.9%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.doces3-imgs img {
    width: 100%;
    height: 250px;
}

/* Contact Form */

#form-contato {
    width: 500px;
}

#form-contato input[type="text"],
#form-contato input[type="email"],
#form-contato textarea {
    display: block;
    border: 1px solid #006599;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 16px;
    font-family: "Open sans", sans-serif;
}

#form-contato input[type="text"]:focus,
#form-contato input[type="email"]:focus,
#form-contato textarea:focus {
    border-color: #2790C6;
    background-color: #eee;
}

#form-contato textarea {
    height: 150px;
}

#form-contato ::placeholder {
    color: #2790C6;
}

#form-contato input[type="submit"] {
    font-size: 18px;
    width: 180px;
    margin-left: 0;
}

/* footer */

footer {
    height: 100px;
    padding-top: 150px;
    color: #006599;
    text-align: center;
    font-weight: bold;
}